banner{
    color:white;
    font-size:20px;
  }
  banner {
    background-size: cover;
    background-position: bottom center;
    height: 1000px;
    width: 100%;
    
  }
  banner .content h1 {
    border: 3px solid rgb(223, 143, 143);
    position: relative;
    top:350px;
    width: 500px;
    margin: 0 auto;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 19;
  } 
  body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
  }
  h1 {
    color: Blue;
    font-size: 55px;
    font-family: cursive;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    border: 2px dotted red;
    color: red;
    font-size: 53px;
    line-height: 55px;
    padding: 30px 45px;
    margin: 33px 2px;
    font-family: Georgia;
    text-align: center;
  }
  h3 {
    border: 3px dotted red;
    color: green;
    font-size: 29px;
    font-weight: 790;
    padding: 25px 13px;
    font-family: Georgia;
    text-align: center;
  }
  table {color:rgb(60, 36, 170);
   text-align: center;
   border: 5px solid brown; 
  }
  div {
    text-align: center;
  }
  p {
    color:brown;
    font-size: 19px;
    line-height: 27px;
    margin-top: 39px;
    padding: 16px 24px;
    font-family: Arial;
    text-align: center;
    border: 6px solid coral;
    padding: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }
  ul{color:teal;
    position: relative;
    text-align: left;
    padding: 30px; 
    border: 3px solid yellow;
    margin-right: 5px;
    margin-left: 5px;
    font-family: Arial;
    font-size: 19px;
  }
  a {
    color: rgb(95, 61, 173);
    border: 4px solid grey;
  }